img{
	width:100%;
}
footer p{ 
	width: 100%;
}
 i{
 	bottom: 163px;
 	left: 15px;
}
aside{ /* this resets the aside so it will load under the other
	content on a smaller screen*/
	position: relative;
	left:0;
	text-align: left;
	width: auto;
	bottom:5%;
}
article{
	width: 100%;
}
#thumbnails{
	width:100%;
}					